@import url("https://fonts.googleapis.com/css2?family=Kameron&family=Sansita:wght@800&display=swap");

:root {
  --color--light: #f3a712;
  --color--dark: #171738;
  --color--mid: #ff686b;
  --color--lightest: #f5f5f5;
  --color--bright: #49beaa;
  --color--mute: #456990;
  --font--title: "Sansita", sans-serif;
  --font--content: "Kameron", serif;
  --border--radius: 5px;
}

body {
  text-align: center;
  background-color: var(--color--bright);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.app {
  min-width: 80vw;
  max-width: 80vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  background-color: var(--color--lightest);
  border-radius: var(--border--radius);
  min-width: 80vw;
}

.link__light {
  text-decoration: none;
  color: var(--color--mute);
}

.link__light:visited {
  text-decoration: none;
  color: var(--color--mute);
}

.link__pink {
  text-decoration: none;
  color: var(--color--mid);
}

.link__pink:visited {
  text-decoration: none;
  color: var(--color--mid);
}

.link__dark {
  text-decoration: none;
  color: var(--color--dark);
}

.link__dark:visited {
  text-decoration: none;
  color: var(--color--dark);
}

.button__control {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button__control__text {
  font-family: var(--font--title);
  color: var(--color--light);
  font-size: calc(6px + 2vmin);
  justify-self: center;
  align-self: center;
}

.button--arrow {
  background-color: var(--color--lightest);
  color: var(--color--mid);
  border: none;
  font-size: calc(10px + 2vmin);
  padding-top: 10px;
}

.button--arrow:disabled {
  background-color: var(--color--lightest);
  color: var(--color--lightest);
  border: none;
}

.page__buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.app-header {
  position: sticky;
  top: 0;
  background-color: var(--color--mute);
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  border-bottom-left-radius: var(--border--radius);
  border-bottom-right-radius: var(--border--radius);
  transition: 500ms;
}

@media (max-width: 600px) {
  .app-header.hidden {
    /* visibility: hidden; */
    transition: 500ms;
    transform: translateY(-86%);
  }
}

@media (min-width: 600px) {
  .app-header.hidden {
    /* visibility: hidden; */
    transition: 1000ms;
    transform: translateY(-86%);
  }
}

.app-navbar {
  background-color: var(--color--lightest);
  width: 100%;
  border-bottom-left-radius: var(--border--radius);
  border-bottom-right-radius: var(--border--radius);
}

.app-footer {
  margin-top: 20px;
  background-color: var(--color--light);
  width: 100%;
  color: var(--color--lightest);
  font-family: var(--font--title);
  border-top-left-radius: var(--border--radius);
  border-top-right-radius: var(--border--radius);
}

.header__logo {
  max-height: 20%;
  max-width: 45%;
  margin-top: 10px;
}

.navbar-list {
  margin: 0px;
  padding: 0px;
  background-color: var(--color--light);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  flex-wrap: wrap;
  font-size: calc(10px + 1vmin);
  color: white;
  font-family: var(--font--content);
  border-bottom-left-radius: var(--border--radius);
  border-bottom-right-radius: var(--border--radius);
}

@media (min-width: 600px) {
  .navbar-list-item {
    margin: 10px;
    white-space: nowrap;
  }
}

@media (max-width: 600px) {
  .navbar-list-item {
    margin: 5px;
    white-space: nowrap;
  }
}

.page__header {
  font-family: var(--font--title);
  color: var(--color--mid);
  font-size: calc(10px + 2vmin);
}

.page__subheader {
  font-family: var(--font--title);
  color: var(--color--light);
  font-size: calc(6px + 2vmin);
}

.page__content {
  font-family: var(--font--content);
  font-size: calc(8px + 1vmin);
  text-align: left;
  padding: calc(10px + 2vmin);
}

.page__sort {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 20px;
}

.page__sort__title {
  font-family: var(--font--title);
  color: var(--color--mute);
  font-size: calc(2px + 2vmin);
}

.page__sort__choice {
  font-family: var(--font--content);
  color: var(--color--mute);
  font-size: calc(4px + 1vmin);
  border: none;
}

.blog__feature {
  margin: 20px;
  padding: 20px;
  /* border: 2px solid var(--color--light); */
  border-radius: var(--border--radius);
  background-color: var(--color--mid);
  text-align: left;
}

.blog__feature__title {
  font-family: var(--font--title);
  color: var(--color--lightest);
  font-size: calc(10px + 1vmin);
}

.blog__feature__content {
  font-family: var(--font--content);
  font-size: calc(8px + 1vmin);
}

.blog__list {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blog__list__item {
  margin: 20px;
  padding: 20px;
  border: 2px solid var(--color--mid);
  border-radius: var(--border--radius);
  text-align: left;
}

.blog__list__item__title {
  font-family: var(--font--title);
  color: var(--color--bright);
  font-size: calc(10px + 1vmin);
}

.blog__list__item__content {
  font-family: var(--font--content);
  font-size: calc(8px + 1vmin);
}

.blog__tilelist {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.blog__tilelist__tile {
  height: 200px;
  width: 200px;
  margin: 20px;
  padding: 20px;
  border: 2px solid var(--color--mid);
  border-radius: var(--border--radius);
  text-align: left;
}

.blog__tilelist__tile__title {
  font-family: var(--font--title);
  color: var(--color--bright);
  font-size: calc(8px + 1vmin);
}

.blog__tilelist__tile__content {
  font-family: var(--font--content);
  font-size: calc(5px + 1vmin);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blog__linkto {
  font-family: var(--font--title);
  color: var(--color--dark);
  font-size: calc(8px + 1vmin);
}

.author__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.author__list__item {
  display: flex;
  flex-direction: column;
  margin: 20px;
  font-family: var(--font--title);
}

/* loading */

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid var(--color--mid);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--color--mid) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
