@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Quattrocento&display=swap");

:root {
  --color--light: #f3a712;
  --color--dark: #171738;
  --color--mid: #ff686b;
  --color--lightest: #f5f5f5;
  --color--bright: #49beaa;
  --color--mute: #456990;
  --font--title: "Abril Fatface", cursive;
  --font--content: "Quattrocento", serif;
}

body {
  text-align: center;
  background-color: var(--color--lightest);
  width: 100vw;
  height: 100vh;
}

.app {
  text-align: center;
  background-color: var(--color--lightest);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  max-width: 80vw;
}

.link__light {
  text-decoration: none;
  color: var(--color--light);
}

.link__light:visited {
  text-decoration: none;
  color: var(--color--light);
}

.app-header {
  position: sticky;
  top: 0;
  background-color: var(--color--mid);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--color--light);
  font-family: var(--font--title);
}

.app-navbar {
  background-color: var(--color--dark);
  width: 100vw;
}

.app-footer {
  background-color: var(--color--dark);
  width: 100vw;
  color: var(--color--light);
  font-family: var(--font--title);
}

.navbar-list {
  margin: 0px;
  padding: 0px;
  background-color: var(--color--dark);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  font-size: calc(10px + 1vmin);
  color: white;
  font-family: var(--font--title);
}

.navbar-list-item {
  padding: 10px;
}

.page__header {
  font-family: var(--font--title);
  color: var(--color--mid);
  font-size: calc(10px + 2vmin);
}

.page__content {
  font-family: var(--font--content);
  font-size: calc(8px + 1vmin);
}

.blog__list {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blog__list__item {
  margin: 20px;
  padding: 20px;
  border: 2px solid var(--color--mid);
  text-align: left;
}

.blog__list__item__title {
  font-family: var(--font--title);
  color: var(--color--bright);
  font-size: calc(10px + 1vmin);
}

.blog__list__item__content {
  font-family: var(--font--content);
  font-size: calc(8px + 1vmin);
}

.author__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.author__list__item {
  display: flex;
  flex-direction: column;
  margin: 20px;
  font-family: var(--font--title);
}

/* loading */

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid var(--color--mid);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--color--mid) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
